# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

functions/node_modules/
node_modules
.nuxt
dist

firebase-debug.log

.output

.env
